@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    border-radius: 2px;
    pointer-events: none;
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Safari / old Chrome */
    -moz-user-select: none;
    /* Old Firefox */
    -ms-user-select: none;
    /* Old IE / EdgeHTML */
    /* border: 1px solid white; */
}

#root {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .15em;
    font-size: smaller;
    color: hsl(0, 0%, 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(211, 96%, 5%);
    margin: 0 20px;
    height: 98vh;
    width: 90%;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border: 1px solid white; */
}

body::-webkit-scrollbar {
    width: none;
    background: transparent;
}